.filtro-Willow {
  filter: brightness(1.2) contrast(0.85) saturate(0.05) sepia(0.2);
}

.filtro-Vintage {
  filter: sepia(0.75) contrast(0.75) brightness(1.25) saturate(1.4);
}

.filtro-Ashby {
  filter: sepia(0.5) contrast(1.2) saturate(1.8);
}

.filtro-Old {
  filter: sepia(0.5) hue-rotate(-30deg) saturate(1.4);
}

.filtro-Ashby::before {
  background: rgba(125, 105, 24, 0.35);
  content: '';
  mix-blend-mode: lighten;
}
